.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-item {
  position: relative;
}

.chosen-navigation-list-link::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  top: 46px;
  left: 0px;
}

.chosen-navigation-list-link {
  color: #2196f3;
}

.address-mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-mail > svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.address-tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-tel > svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

header a {
  color: #000000;
}

.address-react:focus,
.address-react:hover {
  color: #2196f3;
}

.address-react:focus .svg-react,
.address-react:hover .svg-react {
  fill: #2196f3;
}

header {
  padding: 25px 0px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  padding-top: 25px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 90px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-header {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}
